.finishedList {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	gap: 16px;
}

.heading {
	text-align: center;
	margin-bottom: 24px;
	margin-top: 120px;
}

.orderItem {
	padding: 16px;
}

.orderItem img {
	border-radius: var(--radius-sm);
}

.error {
	text-align: center;
}
