.card {
	background-color: var(--color-white);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: var(--radius-lg);
	transition: box-shadow 0.3s ease;
}

.card:hover {
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
