.orderForm {
  max-width: 500px;
  width: 100%;
}

.orderFormCard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nicknameField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderSubmit {
  height: 48px;
  border-radius: var(--radius-sm);
}

.nicknameField input {
  height: 48px;
  padding-left: 24px;
}

.fileWrapper {
  border: 1px dashed var(--color-orange);
  max-width: 500px;
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}
.fileWrapper input {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.fileWrapper label {
  display: block;
  text-align: center;
  flex: 1;
}

@media (max-width: 955px) {
  .orderForm {
    max-width: 100%;
  }
  .fileWrapper {
    max-width: 100%;
  }
}