.orderForm {
  max-width: 500px;
  width: 100%;
}

.orderFormCard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nicknameField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderSubmit {
  height: 48px;
  border-radius: var(--radius-sm);
}

.nicknameField input {
  height: 48px;
  padding-left: 24px;
}



.submitting {
  opacity: 0.5;
}

@media (max-width: 955px) {
  .orderForm {
    max-width: 100%;
  }
  .fileWrapper {
    max-width: 100%;
  }
}