.formBlock {
	margin-top: 120px;
	margin-bottom: 120px;
}
.formContent {
	display: flex;
	justify-content: center;
}

.heading {
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.heading svg {
	margin-top: 7px;
	flex-shrink: 0;
}


